<div class="main-div">
  <div>
    <div class="logoOnpe">
      <img src="../../../assets/img/PantallasCS3_Onpe.png" alt="" />
    </div>
  </div>
  <div class="center">
    <div class="logoSistema">
      <img src="../../../assets/img/loginLogo70.png" alt="" />
    </div>
    <div class="centerTitle">
      <p class="centerTitleMsj">{{msjsuccess}}</p>
      <p class="centerTitle">{{msj}}</p>
      <p class="minPwd">
      </p>
      <p class="minPwdMsj">{{subMsj}}</p>
    </div>
    <a href="#" class="mensajeOlvidar">Volver a la Página Principal</a>
  </div>
  <div class="dirFooter">
    Jr. Washington 1894, Lima 01<br />
    informes@onpe.gob.pe - Fono ONPE: 417 0630 opción 1<br />
    Horario de atención: Lunes a Sábado de 08:00 h – 20:00 h
  </div>
</div>
