<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span>
        Nueva notificación
    </div>
    <div class="generalBox">
        <div class="controlBox inputColor">
            <form class="formNotif" fxLayout="row wrap">
                <div fxFlex="50" class="padd_4">
                    <div class="labelsColor">Adjuntar Excel:</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Adjuntar archivo">
                        <mat-icon matSuffix class="grad45">attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="padd_4">
                    <div class="labelsColor">Adjuntar Zip de Anexos:</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Adjuntar archivo">
                        <mat-icon matSuffix class="grad45">attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="newNotif" fxLayout="row" fxLayoutAlign="center center">
                    <button class="btnBrown" mat-button>CANCELAR</button>
                    <button class="btnBlue" mat-button>ENVIAR</button>
                </div>
            </form>    
        </div>
    </div>
</section>
