.swal2-html-container {
  text-align: left !important;
}
.formNotif {
  max-width: 100%;
}
.btnBrown {
  color: white;
  background: #bd6c15;
  width: 160px;
  right: 0px;
}
.btnBlue {
  color: white;
  background: #175ba5;
  width: 160px;
  right: 0px;
}
