<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span>
        Nueva notificación
    </div>
    <div class="generalBox">
        <div class="controlBox inputColor">
            <form class="formNotif" fxLayout="row wrap">
                <div fxFlex="50" class="padd_4">
                    <div class="labelsColor">Tipo de documento</div> 
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-select>
                            <mat-option *ngFor="let filtro of filtros" [value]="filtro.value">
                                {{filtro.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="padd_4">
                    <div class="labelsColor">Número de documento</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Ingrese el número de documento">
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="padd_4">
                    <div class="labelsColor">Destinatario</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Nombre del destinatario">
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="padd_4">
                    <div class="labelsColor">Asunto</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Ingrese el asunto">
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="padd_4">
                    <div class="labelsColor">Mensaje</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <textarea matInput placeholder="Ex. 100 Main St"> </textarea>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="padd_4">
                    <div class="labelsColor">Adjuntar archivo 1</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Adjuntar archivo">
                        <mat-icon matSuffix class="grad45">attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="padd_4">
                    <div class="labelsColor">Adjuntar archivo 2</div>  
                    <mat-form-field class="" appearance="outline" style="width: 100%;">
                        <input type="tel" matInput placeholder="Adjuntar archivo">
                        <mat-icon matSuffix class="grad45">attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="newNotif" fxLayout="row" fxLayoutAlign="center center">
                    <button class="btnGreen" mat-button>Agregar más adjuntos</button>
                </div>
                <div fxFlex="100" class="newNotif" fxLayout="row" fxLayoutAlign="center center">
                    <button class="btnBrown" mat-button>CANCELAR</button>
                    <button class="btnBlue" mat-button>ENVIAR</button>
                </div>
            </form>    
        </div>
    </div>
</section>

