<img src="../../assets/banner_recordatorio_correo_celular.png" alt="Oficina Nacional de Procesos Electorales | ONPE" style="margin: 10px auto 40px;display: block;">
<app-alert type="warn" style="margin: 0 20%;background:#F5FAD9;color:#000;">
    Hemos recibido tu solicitud de creación de casilla electrónica, en breve los especialistas  la evaluarán y te llegará un correo electrónico y SMS con el resultado, recuerda revisar tu bandeja de correo electrónico.
    Este proceso puede tomar un día hábil.
    <!--Hemos recibido tu solicitud de creación de casilla electrónica, en breve los especialistas  la evaluarán y te llegará un correo electrónico con el resultado, recuerda revisar tu bandeja de correo electrónico.
    Este Proceso puede tomar 24 horas.--><br />
</app-alert>

<br>
<br>

<!-- <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
    <button mat-flat-button color="warn" (click)="goCasilla()">Ir a Casilla Electrónica</button>
  </div> -->


  <div class="container">
    <div class="row" style="text-align: center;" >

      <div class="col-sm">
        <button class="btn-valid" type="button"  (click)="goCasilla()">Ir a Casilla Electrónica</button>
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
